body{
   
    background-image:url('/pics/pexels-chevanon-photography-1108099.jpg');
    background-size: cover;
}
@font-face {
        font-family:Aloevera;
        src: ('C:\Users\monte\UWBC Git Storage\Homework\PREWORK\Fangirl\Santana-Fanta\fonts\aloevera-font\Aloevera-OVoWO.ttf');
    }
@font-face{
    font-family:Qakergu;
    src:('C:\Users\monte\UWBC Git Storage\Homework\PREWORK\Fangirl\Santana-Fanta\fonts\qakergu-font\Qakergu-1GpRL.otf')
}

h1{
    text-align: center;
    border:4px solid navy;
    font-family:Aloevera;
}
h2{
    text-align:center;
    font-family:Qakergu;
}

.albumpics{
    border:2px solid blue;
    border-radius:10px;
    padding:5px;
    width:300px;
   
}
.biotable td:nth-child(1){
    display:flex;
  position:relative;
 height:220px;
   width:800px;
    border:2px solid black;
}
.biotable th{
    display:flex;
   position:relative;
   width:805px;
   border:2px solid black;
}
h3{
    text-align:center;   
}
 .songft{
    display:inline-block;
    width: 1250px;
    border:2px solid black;
    text-align:center;
}
iframe{
    display:inline-block;
    position:absolute;                                                                                                                                                                                                      
    right:360px;

}
.carlosconcert{
    border:5px solid blue;
    border-radius:10px;
    display:inline-block;
    position:relative;
    height:300px;

}
.songlist td{
    width:310px;

}
.row {
  display: flex;
  margin-left:-2px;
  margin-right:-5px;
}
    
.column {
  flex: 40%;
  padding: 5px;
}
.column td{
    flex:10%;
    padding:5px;
}
.biotable tr{
    display:flex;
}
